@media only screen and (max-width: 920px) {
    .fact-img img{
        width: 100%;
        justify-self: center;
    }
    
    .fact-img{
        width: 100%;
        height: 30rem;
  }

  .fact-text-wrap{
    border-left: none;
}
}